@charset "utf-8";
@media screen and (min-width: 1920px) {
    header {
        width: var(--container-wide);
        max-width: var(--max-width-wide);
        height: 120px;
    }

    .header_center h1 {
        width: 160px;
        height: 40px;
    }

    .nav_wrap .nav_body ul {
        gap: 40px;
    }

    .nav_wrap .nav_body ul li a {
        font-size: 1.6em;
        letter-spacing: 0.05em;
    }

    .nav_wrap .language {
        margin-left: 40px;
    }

    .nav_wrap .language a {
        font-size: 1.4em;
    }


    /* header_visual */
    .header_visual {
        background: url(../img/head_img.jpg) no-repeat center/cover;
        width: 100%;
        height: 1080px;
        overflow: visible;
    }

    .header_visual .slogan {
        width: var(--container-wide);
        max-width: var(--max-width-wide);
        top: 750px;
    }

    .header_visual .slogan h2 {
        font-size: 8em;
        line-height: 1.1;
        letter-spacing: -0.03em;
    }

    .header_visual .slogan p {
        font-size: 2.4em;
        line-height: 1.5;
        letter-spacing: 0.01em;
        margin-top: 30px;
        max-width: 800px;
    }

    /* about */
    .about_section {
        padding: 0 0 200px;
    }

    .about_section .about {
        width: var(--container-wide);
        max-width: var(--max-width-wide);
    }

    .about_section .about h2 {
        font-size: 8em;
        line-height: 1.2;
        letter-spacing: -0.03em;
        padding: 200px 0 0;
    }

    .about_section .about p {
        font-size: 2.4em;
        line-height: 1.5;
        letter-spacing: 0.01em;
        max-width: 900px;
        margin: 30px auto 60px;
    }

    .about_section .about a {
        width: 220px;
        height: 56px;
        line-height: 56px;
        font-size: 2em;
    }


    /* products */
    .products_section {
        padding-top: 250px;
    }

    .products_section h2 {
        font-size: 12em;
        line-height: 1.1;
        letter-spacing: -0.04em;
        margin-bottom: 200px;
    }

    .products_section .products {
        width: var(--container-wide);
        max-width: var(--max-width-wide);
    }

    .products_section .products .headphones,
    .products_section .products .amplifiers {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 80px;
    }

    .products_section .products .speakers {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
        gap: 80px;
    }

    .products_section .products .speakers,
    .products_section .products .amplifiers {
        margin-top: 150px;
    }

    .products_section .products .headphone_text,
    .products_section .products .amp_text {
        flex: 1;
        text-align: left;
    }

    .products_section .products .speaker_text {
        flex: 1;
        text-align: right;
    }

    .products_section .products .headphone_text span,
    .products_section .products .speaker_text span,
    .products_section .products .amp_text span {
        font-size: 16em;
    }

    .products_section .products .headphones h3,
    .products_section .products .amplifiers h3 {
        font-size: 3em;
        margin: -45px 0 10px 0;
    }

    .products_section .products .speakers h3 {
        font-size: 3em;
        margin: -45px 0 10px 0;
    }

    .products_section .products .headphones strong,
    .products_section .products .amplifiers strong {
        display: block;
        font-size: 5.5em;
    }

    .products_section .products .speakers strong {
        display: block;
        font-size: 5.5em;
    }

    .products_section .products .headphones p,
    .products_section .products .amplifiers p {
        font-size: 2em;
        line-height: 1.6;
        margin-top: 25px;
    }

    .products_section .products .speakers p {
        font-size: 2em;
        line-height: 1.6;
        margin-top: 25px;
    }

    .products_section .products .headphones a,
    .products_section .products .amplifiers a,
    .products_section .products .speakers a {
        font-size: 1.8em;
        margin-top: 30px;
    }

    .products_section .products .headphones .headphone_img,
    .products_section .products .speakers .speaker_image,
    .products_section .products .amplifiers .amp_image {
        width: 550px;
        height: 550px;
        flex-shrink: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .products_section .products .headphones .headphone_img {
        background-image: url(../img/marshall_headphone.jpg);
    }

    .products_section .products .speakers .speaker_image {
        background-image: url(../img/marshall_speaker.jpg);
    }

    .products_section .products .amplifiers .amp_image {
        background-image: url(../img/marshall_amp.jpg);
    }


    /* Artists */
    .artists_section {
        padding-top: 300px;
    }

    .artists_section .artists .artists_banner {
        height: 600px;
    }

    .artists_section .artists .artists_banner h2 {
        font-size: 8em;
        line-height: 1.2;
        letter-spacing: -0.03em;
    }

    .artists_section .artists .artists_banner .artists_text {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 100px;
        width: var(--container-wide);
        max-width: var(--max-width-wide);
        margin: 0 auto;
        padding-top: 80px;
    }

    .artists_text_left {
        flex: 0 0 45%;
        text-align: left;
        margin-top: 100px;
    }

    .artists_text_right {
        flex: 0 0 50%;
        margin-top: 100px;
    }

    .artists_text_left h2 {
        font-size: 8em;
        color: var(--color-primary);
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .artists_section .artists .artists_banner h3 {
        font-size: 3em;
        line-height: 1.3;
        letter-spacing: 0.01em;
    }

    .artists_text_right p {
        font-size: 2.2em;
        line-height: 1.6;
        letter-spacing: 0.01em;
        color: var(--color-text);
        text-align: left;
    }


    /* artist_content */
    .artists_section .artist_content {
        width: var(--container-wide);
        max-width: var(--max-width-wide);
        margin: 150px auto;
    }

    .artists_section .artist_content .artist1,
    .artists_section .artist_content .artist2,
    .artists_section .artist_content .artist3,
    .artists_section .artist_content .artist4 {
        gap: 80px;
    }

    .artists_section .artist_content .artist2,
    .artists_section .artist_content .artist3,
    .artists_section .artist_content .artist4 {
        margin-top: 150px;
    }

    .artists_section .artist_content .artist1 .artist1_text,
    .artists_section .artist_content .artist2 .artist2_text,
    .artists_section .artist_content .artist3 .artist3_text,
    .artists_section .artist_content .artist4 .artist4_text {
        width: 500px;
        margin: 0 50px;
    }

    .artists_section .artist_content .artist1 span,
    .artists_section .artist_content .artist2 span,
    .artists_section .artist_content .artist3 span,
    .artists_section .artist_content .artist4 span {
        font-size: 12em;
    }

    .artists_section .artist_content .artist1 h3,
    .artists_section .artist_content .artist2 h3,
    .artists_section .artist_content .artist3 h3,
    .artists_section .artist_content .artist4 h3 {
        font-size: 4.5em;
        margin-top: 15px;
    }

    .artists_section .artist_content .artist1 p,
    .artists_section .artist_content .artist2 p,
    .artists_section .artist_content .artist3 p,
    .artists_section .artist_content .artist4 p {
        font-size: 2.2em;
        line-height: 1.5;
        margin-top: 30px;
    }

    .artists_section .artist_content .artist1_image,
    .artists_section .artist_content .artist2_image,
    .artists_section .artist_content .artist3_image,
    .artists_section .artist_content .artist4_image {
        width: 600px;
        height: 600px;
    }


    /* social */
    .social_section {
        padding-top: 250px;
    }

    .social_section .social_text {
        width: var(--container-wide);
        max-width: var(--max-width-wide);
    }

    .social_section .social_text h2 {
        font-size: 8em;
        line-height: 1.2;
        letter-spacing: -0.03em;
    }

    .social_section .social_text p {
        font-size: 2.4em;
        line-height: 1.5;
        letter-spacing: 0.01em;
        margin-top: 30px;
    }

    /* social_slider */
    .social_section .swiper {
        width: var(--container-wide);
        max-width: var(--max-width-wide);
        height: 800px;
        margin-top: 100px;
    }

    .social_section .swiper .social_heritage,
    .social_section .swiper .social_story,
    .social_section .swiper .social_community {
        height: 500px;
    }

    .social_section .swiper .swiper-slide .heritage_text,
    .social_section .swiper .swiper-slide .story_text,
    .social_section .swiper .swiper-slide .community_text {
        transform: translateY(500px);
        height: 300px;
        padding: 60px 80px;
    }

    .social_section .swiper .swiper-slide .heritage_text h3,
    .social_section .swiper .swiper-slide .story_text h3,
    .social_section .swiper .swiper-slide .community_text h3 {
        font-size: 3.6em;
    }

    .social_section .swiper .swiper-slide .heritage_text p,
    .social_section .swiper .swiper-slide .story_text p,
    .social_section .swiper .swiper-slide .community_text p {
        font-size: 1.8em;
        line-height: 1.5;
        margin-top: 15px;
    }

    .social_section .swiper .swiper-slide .heritage_text .more,
    .social_section .swiper .swiper-slide .story_text .more,
    .social_section .swiper .swiper-slide .community_text .more {
        width: 160px;
        height: 48px;
        line-height: 48px;
        font-size: 18px;
        margin-top: 30px;
    }

    /* partnership */
    .social_section .social_partership {
        width: var(--container-wide);
        max-width: var(--max-width-wide);
        height: 700px;
        margin: 200px auto 0;
    }

    .social_section .social_partership .partership_text {
        transform: translateY(350px);
        height: 350px;
        padding: 60px 80px;
    }

    .social_section .social_partership .partership_text h3 {
        font-size: 4em;
    }

    .social_section .social_partership .partership_text p {
        font-size: 2em;
        line-height: 1.5;
        margin-top: 15px;
        max-width: 600px;
    }

    .social_section .social_partership .partership_text .more {
        width: 160px;
        height: 48px;
        line-height: 48px;
        font-size: 18px;
        margin-top: 40px;
    }


    /* footer */
    footer {
        margin: 250px auto 0;
    }

    .footer_center {
        width: var(--container-wide);
        max-width: var(--max-width-wide);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer_top {
        width: 100%;
        padding: 80px 0 50px;
        height: auto;
        margin: 0 auto;
        text-align: center;
    }

    .footer_logo {
        width: 180px;
        height: 45px;
        margin: 0 auto 40px;
    }

    .footer_top .footer_top_text {
        font-size: 2.4em;
    }

    /* footer-bottom */
    .footer_bottom {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: nowrap;
        margin-top: 60px;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .footer_section {
        border-bottom: none;
        flex: 1;
    }

    .footer_bottom .footer_company h3,
    .footer_bottom .footer_customer h3,
    .footer_bottom .footer_account h3 {
        font-size: 2.2em;
        cursor: default;
        padding: 0 0 20px;
    }

    .dropdown_icon {
        display: none;
    }

    .footer_bottom ul {
        max-height: none;
        overflow: visible;
        padding: 0;
    }

    .footer_section.active ul,
    .footer_section ul {
        max-height: none;
        padding: 0;
    }

    .footer_bottom .footer_company .company_list,
    .footer_bottom .footer_customer .customer_list,
    .footer_bottom .footer_account .account_list {
        display: block;
        font-size: 1.6em;
        text-align: left;
    }

    .footer_bottom ul li {
        padding: 8px 0;
    }

    .footer_bottom ul li a {
        font-size: 1em;
    }

    .footer_bottom .footer_social {
        flex: 1;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        border-bottom: none;
        text-align: left;
    }

    .footer_social h3 {
        font-size: 2.2em;
        margin-bottom: 25px;
    }

    .social_icons {
        justify-content: flex-start;
        gap: 25px;
    }

    .social_icons a:nth-of-type(1),
    .social_icons a:nth-of-type(2),
    .social_icons a:nth-of-type(3) {
        width: 28px;
        height: 28px;
    }

    .footer_center .copyright {
        width: 100%;
        padding: 40px 0;
        font-size: 1.4em;
        border-top: 1px solid var(--color-border);
        border-bottom: none;
        margin-top: 40px;
    }
}
